In [ ]:
c=(20,30,40,50,60,70,90)
    0  1  2 3   4  5  6

In [2]:
c=(20,30,40,50,60,70,90)

In [4]:
print(c)

(20, 30, 40, 50, 60, 70, 90)

In [5]:
print(0)

0

In [6]:
rajesh=(20,30)

In [7]:
print(rajesh)

(20, 30)

In [8]:
tuple

tuple

In [10]:
print(c)

(20, 30, 40, 50, 60, 70, 90)

In [11]:
cars=['audi','suzuki','kia','gtr']

In [12]:
print(cars)

['audi', 'suzuki', 'kia', 'gtr']

In [14]:
for car in cars:
    if car == 'bmw':
        print(car.upper())                              2*1=2
    else:
        print(car.title())

Audi
Suzuki
Kia
Gtr

In [ ]:
### doing power operations

In [15]:
for i in range(1,11):
    print('2*',i,'=',i*2)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20

In [16]:
for i in range(1,11):                                                                      3*1=1*2=2
    print('3*',i,'=',i*2)

3* 1 = 2
3* 2 = 4
3* 3 = 6
3* 4 = 8
3* 5 = 10
3* 6 = 12
3* 7 = 14
3* 8 = 16
3* 9 = 18
3* 10 = 20

In [17]:
for i in range(1,11):
    print('8*',i,'=',i*2)

8* 1 = 2
8* 2 = 4
8* 3 = 6
8* 4 = 8
8* 5 = 10
8* 6 = 12
8* 7 = 14
8* 8 = 16
8* 9 = 18
8* 10 = 20

In [ ]:
### to check even or odd number-------------requirement

In [18]:
num=int(input('entre the number i will tell the num type'))
if num%2==0:
    print('the number is even')  
else:
    print('odd number')

entre the number i will tell the num type66
the number is even

In [19]:
num=int(input('entre the number i will tell the num type'))
if num%2==0:
    print('the number is even')  
else:
    print('odd number')

entre the number i will tell the num type33
odd number

In [ ]:
### print the numbers of first 100 by using while loop

In [20]:
num=1
while num<=100:
    print(num)
    num=num+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [21]:
num=1
while num<=33:
    print(num)
    num=num+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

In [22]:
num=3
while num<=66:
    print(num)
    num=num+1

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66

In [ ]:
### dictionary datatype

In [ ]:
****** dict are used to store values in keys: value paris

In [ ]:
****** it is mutable datatype

In [ ]:
*******it is going to declare in {}

In [ ]:
**********it is also a collectiom which is ordered and it doesnt allow duplicates

In [ ]:
              key:value

In [ ]:
list
tuple             ********** sequences
set


dict -----multiple elements============ key value pair called as mapping

In [ ]:
####facebook
username======'user1'
firstname======'abc'
lastname======'xyz'
email_id======abc@gmail.com
dob-=========11022000
pwd======='25675237'

In [24]:
user_0={'username':'user1','first_name':'abc','last_name':'xyz','mailid':'abc@gmail.com','pwd':'25675237'}

In [25]:
type(user_0)

dict

In [26]:
print(user_0['pwd'])

25675237

In [27]:
print(user_0['first_name'])

abc

In [28]:
print(user_0['mailid'])

abc@gmail.com